<?xml version="1.0" encoding="UTF-8"?>
<module external.linked.project.id=":" external.linked.project.path="C:\Users\Acer-PC\AndroidStudioProjects\Tutorial3" external.root.project.path="$MODULE_DIR$" externa